@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'), url('../fonts/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'), url('../fonts/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold.ttf') format('truetype'), url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'), url('../fonts/RobotoLight.woff2') format('woff2'), url('../fonts/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight.ttf') format('truetype'), url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}

.lp-bold-font {
    font-family: 'RobotoBold';
}

.lp-regular-font {
    font-family: 'RobotoRegular';
}

.lp-light-font {
    font-family: 'RobotoLight';
}

.lp-sprite {
    background-image: url(../images/sprite.png);
}

.lp-banner {
    background-image: url(../images/banner_bg.jpg);
    padding-top: 38px;
    height: 660px;
}

.lp-nav-logo,
.lp-nav-logo:hover {
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
}

.lp-button {
    width: 182px;
    height: 56px;
    font-size: 16px;
    color: #292929;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 56px;
    border: none;
    text-align: center;
}

.lp-button.orange {
    background-color: #f3b50e;
    border: 1px solid rgba(255, 255, 255, 0);
}

.lp-button.orange:hover {
    background-color: #f5c238;
}

.lp-button.green {
    background-color: #b0d975;
    border: 1px solid rgba(255, 255, 255, 0);
}

.lp-button.green:hover {
    background-color: #c1ec82;
}

.lp-button.tranparent {
    background-color: #ffffff;
    border: 1px solid #b0d975;
}

.lp-button-margin {
    margin-right: 10px;
}

.lp-banner-content {
    padding-top: 86px;
}

.lp-banner-content h3 {
    font-size: 68px;
    color: #ffffff;
    text-align: right;
    line-height: 53px;
    padding-top: 50px;
    margin-bottom: 42px;
}

.lp-banner-content h3 span {
    font-size: 43px;
    line-height: 49px;
}

.lp-app-download-link {
    text-align: right;
}

.lp-app-download-link a {
    text-decoration: none;
    display: inline-block;
    width: 182px;
    height: 60px;
    background-repeat: no-repeat;
}

.lp-app-download-link a.lp-google {
    background-position: 0 0;
}

.lp-app-download-link a.lp-ios {
    background-position: -200px 0;
    width: 190px;
    margin-left: 10px;
}

.lp-section-1,
.lp-section-2 {
    padding: 64px 0;
}

.lp-section-2 {
    background-image: url(../images/section_2_bg.jpg);
}

.lp-section-1 h4,
.lp-section-2 h4 {
    color: #414141;
    line-height: 45px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: lighter;
}

.lp-pay-link a {
    font-size: 16px;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.lp-pay-link .lp-button.green {
    color: #ffffff;
    background-color: #66ab6f;
    border: 1px solid rgba(255, 255, 255, 0);
}

.lp-pay-link .lp-button.green:hover {
    color: #66ab6f;
    background-color: #ffffff;
    border: 1px solid #66ab6f;
}

.lp-pay-link .lp-button.tranparent {
    color: #66ab6f;
    border: 1px solid #66ab6f;
    margin-left: 10px;
}

.lp-pay-link .lp-button.tranparent:hover {
    background-color: #66ab6f;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0);
}

.lp-pay-img-right {
    text-align: right;
}

.lp-pay-img-left {
    text-align: left;
}

.lp-transition {
    transition-property: border-color background-color color;
    transition-duration: .1s;
    transition-timing-function: linear;
}

.lp-footer {
    padding: 30px 0;
}

.lp-footer ul {
    padding: 0;
    margin-top: 10px;
}

.lp-footer ul li {
    display: inline-block;
    margin-left: 30px;
}

.lp-footer ul li:first-child {
    margin-left: 0;
}

.lp-footer ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #414141;
    font-family: 'RobotoRegular';
}


.lp-social-icon ul {
    text-align: right;
}

.lp-social-icon ul li {
    margin-left: 5px;
}

.lp-social-icon ul li a {
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
}

.lp-social-icon ul li a.lp-fb {
    color: #3a589b;
}

.lp-social-icon ul li a.lp-fb:hover {
    background-color: #3a589b;
    color: #ffffff;
    border-color: #3a589b;
}

.lp-social-icon ul li a.lp-tw {
    color: #1cb7eb;
}

.lp-social-icon ul li a.lp-tw:hover {
    background-color: #1cb7eb;
    color: #ffffff;
    border-color: #1cb7eb;
}

.lp-social-icon ul li a.lp-in {
    color: #007ab9;
}

.lp-social-icon ul li a.lp-in:hover {
    background-color: #007ab9;
    color: #ffffff;
    border-color: #007ab9;
}

.lp-copyright {
    font-size: 14px;
    color: #8b8a8a;
}

.lp-modal-header {
    position: relative;
    padding: 0;
}

.lp-modal-close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-size: 40px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    max-width: 31px;
    text-align: center;
}

.lp-modal-title {
    font-size: 40px;
    line-height: 45px;
    color: #414141;
    font-weight: lighter;
    margin: 30px auto 35px;
    text-align: center;
}

.lp-modal-body {
    padding: 0;
}

.lp-modal-content {
    background-image: url("../images/banner_bg.jpg");
    background-position: center top;
    background-size: cover;
    border-radius: 0;
}

.lp-modal-form-part {
    background-color: #ffffff;
    padding: 0 64px 44px;
}

.lp-form input[type=text],
.lp-form input[type=email],
.lp-form input[type=password],
.lp-form input[type=tel],
.lp-form select {
    width: 492px;
    height: 56px;
    border: 1px solid #d6d5d5;
    border-radius: 56px;
    margin-bottom: 20px;
    padding-left: 90px;
    color: #757575;
}

.lp-modal-dialog {
    width: 1080px;
}

.lp-form-group-field label {
    width: 50%;
}

.lp-form-group-field select,
.lp-form-group-field input[type=tel] {
    width: 100%;
}

.lp-form-group-field select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    color: #757575;
}

.lp-form-group-field select::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
}

.lp-form-group-field input[type=tel] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.lp-form label {
    position: relative;
    display: block;
}

.lp-form label span {
    background-color: #f5f5f5;
    border-radius: 56px 0 0 56px;
    display: block;
    height: 54px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 66px;
    z-index: 1;
}

.lp-form label span::before {
    border-color: transparent transparent transparent #f5f5f5;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 0;
    position: absolute;
    right: -19px;
    top: 18px;
    width: 0;
}

.lp-f-name {
    background-position: 0 -80px;
}

.lp-l-name {
    background-position: -66px -80px;
}

.lp-email {
    background-position: -132px -80px;
}

.lp-phone {
    background-position: -200px -80px;
}

.lp-pass {
    background-position: -264px -80px;
}

.lp-conf-pass {
    background-position: -330px -80px;
}

.lp-custom-select-arrow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    left: 0;
    padding-right: 10px;
    pointer-events: none;
    position: absolute;
    text-align: right;
    top: 18px;
    width: 100%;
    z-index: 1
}

.lp-form-group-field label .lp-moNo-padding {
    padding-left: 18px;
}

.lp-terms-line {
    text-align: center;
    padding: 25px 0;
}

.lp-terms-line input[type=checkbox],
.lp-terms-line div {
    display: inline-block;
    vertical-align: middle;
}

.lp-form-submit-button.lp-button.green {
    background-color: #66ab6f;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #ffffff;
    text-transform: uppercase;
}

.lp-login-button {
    width: 100%;
}

.lp-form-submit-button.lp-button.green:hover {
    background-color: #ffffff;
    border: 1px solid #66ab6f;
    color: #66ab6f;
}

.lp-custom-select-arrow .fa.fa-chevron-down {
    color: #757575;
}

.lp-no-display {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.lp-no-display img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.lp-forgot-password-link{
    padding-bottom: 0;
}
.lp-forgot-password-link div{
    width: 100%;
}
.lp-forgot-password-link div a:first-child{
    /* text-align: right;
    border-right: 1px solid #d6d5d5; */
}
.lp-forgot-password-link div a:last-child{
   /*  text-align: left; */
}



@media screen and (max-width:1200px) {
    .lp-banner {
        height: 572px;
    }
    .lp-button {
        width: 150px;
        height: 50px;
    }
    .lp-pay-link a {
        font-size: 14px;
        line-height: 50px;
    }
    .lp-section-1 h4,
    .lp-section-2 h4 {
        line-height: 40px;
        margin-bottom: 24px;
        font-size: 34px;
        padding-top: 50px;
    }
    .lp-banner-content h3 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 35px;
    }
    .lp-banner-content h3 span {
        font-size: 32px;
        line-height: 44px;
        display: block;
    }
    .lp-footer ul li {
        display: inline-block;
        margin-left: 20px;
    }
    .lp-social-icon ul li a {
        font-size: 16px;
        height: 30px;
        line-height: 29px;
        width: 30px;
    }
}

@media screen and (max-width:991px) {
    .lp-banner {
        height: 470px;
    }
    .lp-banner-content h3 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
        margin-top: 0;
        padding-top: 0;
    }
    .lp-section-1 h4,
    .lp-section-2 h4 {
        line-height: 34px;
        margin-bottom: 24px;
        font-size: 28px;
        padding-top: 20px;
    }
    .lp-banner-content h3 span {
        font-size: 25px;
    }
    .lp-button {
        width: 125px;
        height: 40px;
    }
    .lp-pay-link a {
        font-size: 12px;
        line-height: 40px;
    }
    .lp-button-margin {
        margin-right: 5px;
    }
    .lp-button {
        font-size: 14px;
    }
    .lp-nav-logo,
    .lp-nav-logo:hover {
        font-size: 35px;
    }
    .lp-footer ul li {
        margin-left: 10px;
    }
    .lp-footer ul li a {
        font-size: 12px;
    }
    .lp-footer ul {
        margin: 5px 0;
    }
    .lp-modal-dialog {
        width: 767px;
    }
    .lp-form input[type=text],
    .lp-form input[type=email],
    .lp-form input[type=password],
    .lp-form input[type=tel],
    .lp-form select {
        width: 340px;
        height: 45px;
        margin-bottom: 10px;
        padding-left: 80px;
    }
    .lp-form label span {
        width: 56px;
        height: 43px;
    }
    .lp-f-name {
        background-position: -4px -87px;
    }
    .lp-l-name {
        background-position: -70px -87px;
    }
    .lp-email {
        background-position: -136px -87px;
    }
    .lp-phone {
        background-position: -202px -87px;
    }
    .lp-pass {
        background-position: -268px -87px;
    }
    .lp-conf-pass {
        background-position: -334px -87px;
    }
    img {
        max-width: 100%;
    }
    .lp-modal-title {
        font-size: 30px;
        line-height: 31px;
        margin: 30px auto 25px;
    }
    .lp-form label span::before {
        top: 12px;
    }
    .lp-form-group-field label {
        width: 100%;
    }
    .lp-form-group-field select {
        border-top-right-radius: 56px;
        border-bottom-right-radius: 56px;
    }
    .lp-custom-select-arrow {
        top: 12px;
    }
    .lp-form-group-field input[type="tel"] {
        border-bottom-left-radius: 56px;
        border-top-left-radius: 56px;
    }
    .lp-no-display img {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .navbar-header div {
        text-align: center;
    }
    .lp-center {
        text-align: center !important;
        float: none !important;
        margin: 18px auto 10px;
    }
    .lp-banner-content {
        padding-top: 0;
    }
    .lp-banner-content .col-xs-5 {
        display: none;
    }
    .lp-banner-content h3 {
        padding-top: 60px;
        font-size: 30px;
        line-height: 27px;
    }
    .lp-banner-content h3 span {
        font-size: 19px;
        line-height: 35px;
    }
    .lp-banner {
        height: auto;
        padding-top: 20px; padding-bottom:20px;
    }
    .lp-section-1,
    .lp-section-2 {
        padding: 20px 0;
    }
    .lp-section-1 h4,
    .lp-section-2 h4 {
        padding-top: 0;
    }
    .lp-section-1 h4,
    .lp-section-2 h4 {
        line-height: 26px;
        margin: 10px auto;
        font-size: 18px;
        text-align: center;
    }
    .lp-pay-link {
        text-align: center;
    }
    .lp-pay-img-right,
    .lp-pay-img-left {
        text-align: center;
    }
    .lp-pay-img-right img,
    .lp-pay-img-left img {
        text-align: center;
        width: 30%;
        margin: 25px auto 10px;
    }
    .lp-footer,
    .lp-footer ul {
        text-align: center;
    }
    .lp-banner-content h3,
    .lp-banner-content h3 span,
    .lp-app-download-link {
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .lp-app-download-link {
        padding-top: 20px;
    }
    .lp-form input[type=text],
    .lp-form input[type=email],
    .lp-form input[type=password],
    .lp-form input[type=tel],
    .lp-form select {
        width: 100%;
    }
    .lp-modal-form-part {
        background-color: #ffffff;
        padding: 0 30px 30px;
    }
    .lp-no-display {
        display: none;
    }
    .lp-modal-dialog {
        width: auto;
    }
    .lp-modal-close {
        color: #414141;
    }
    input.lp-form-submit-button {
        margin: 0 auto;
        display: block;
    }
    .lp-button {
        font-size: 13px;
    }
}

@media screen and (max-width:425px) {
    .lp-banner {
        height: 280px;
        padding-top: 20px;
    }
    .lp-app-download-link a {
        width: 100px;
        height: 34px;
        background-size: 216%;
    }
    .lp-app-download-link a.lp-ios {
        background-position: -110px 0;
        width: 108px;
        margin-left: 5px;
        background-size: 204%;
    }
    .lp-terms-line input[type=checkbox],
    .lp-terms-line div {
        font-size: 9px;
    }
    .lp-button {
        width: 118px;
        height: 40px;
        font-size: 12;
    }
    .lp-modal-title {
        font-size: 25px;
        line-height: 24px;
        margin: 25px auto 15px;
    }
    .lp-pay-img-right img,
    .lp-pay-img-left img {
        text-align: center;
        width: 35%;
        margin: 13px auto 0;
    }
}

.lp-social-icon ul li a i{padding:8px;}



.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.textArea .iArea{border-bottom-left-radius: 19px; border-top-left-radius: 19px;}
textArea.customInput {height:125px; resize:none;}
#map img{width:100%; height:100%;}
.social-icons h3{font-size:15px; color:#999999;}

.faqs .panel-title{padding:12px;}
.faqs .panel-title a { font-size: 15px; font-weight: normal;}
.faqs .panel-body p{color:#999999;}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-header .close {
    margin-top: -2px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

/* style dated 22-09-2017 */

.fullContainer{
	width:100%;
}