<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LebuPay</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>mappedfile</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring-servlet.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <error-page>
    <error-code>404</error-code>
    <location>/error404</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error500</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error403</location>
  </error-page>
  <servlet>
    <display-name>ImageCreator</display-name>
    <servlet-name>ImageCreator</servlet-name>
    <servlet-class>com.lebupay.common.ImageCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCreator</servlet-name>
    <url-pattern>/ImageCreator</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loadSalt</filter-name>
    <filter-class>com.lebupay.filter.LoadSalt</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loadSalt</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern> /* </url-pattern>
  </filter-mapping>
</web-app>